@charset "utf-8";

/* font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
/* 
font-family: 'Pacifico', cursive;
font-family: 'Source Sans Pro', sans-serif; 
*/

*{ box-sizing: border-box; font-family: 'Source Sans Pro', sans-serif; }
html, body{ margin: 0;}
h1, h2, h3, h4, h5, h6, p{ margin: 0; padding: 0;}
ul, ol{ margin: 0; padding: 0; list-style: none}
a{ text-decoration: none;}

.font_pacifico{font-family: 'Pacifico', cursive;}




/* header part */
#header{ width: 100%;}

#header .header_top{
    background-color: #000;
}
#header .header_top .wrap_top{
    width: 1160px;
    height: 30px;
    padding: 0 10px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

#header .header_top .wrap_top .header_top_left{float: left;} /*부모 공간으로부터 좌측으로 좌측에 배치*/
#header .header_top .wrap_top .header_top_left ul{}
#header .header_top .wrap_top .header_top_left ul li{ 
    float: left; 
    line-height: 30px;
}
#header .header_top .wrap_top .header_top_left ul li p{ margin: 0 5px; }
#header .header_top .wrap_top .header_top_left ul li:first-child p{ margin-left: 0;}


#header .header_top .wrap_top .header_top_right{ float: right; }/*부모 공간으로부터 우측으로 좌측에 배치*/
#header .header_top .wrap_top .header_top_right ul{ }
#header .header_top .wrap_top .header_top_right ul li{
    float: left; 
    line-height: 30px;
}
#header .header_top .wrap_top .header_top_right ul li a{ 
    display: block;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}
#header .header_top .wrap_top .header_top_right ul li:hover a{color: #f60;}
#header .header_top .wrap_top .header_top_right ul li:last-child a{ margin-right: 0;}


#header .header_main{
    width: 100%;
    height: 560px;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* background-color: #aaf; */
    position: relative;
}
#header .header_main .header_dark{
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#header .header_main .header_dark .wrap_main{
    width: 1160px;
    height: 66px;
    padding: 0 10px;
    margin: 0 auto;
    /* background-color: #ae4; */
}
#header .header_main .header_dark .wrap_main .header_main_logo{ float: left; padding: 17px 0; }
#header .header_main .header_dark .wrap_main .header_main_logo a{}
#header .header_main .header_dark .wrap_main .header_main_logo a img{
    /* position: absolute; */
    display: block;
    /* top: 50%;
    transform: translateY(-50%); */
    cursor: pointer;
}

#header .header_main .header_dark .wrap_main .header_main_right{ float: right; }
#header .header_main .header_dark .wrap_main .header_main_right .global_nav{float: left;}
#header .header_main .header_dark .wrap_main .header_main_right .global_nav ul{}
#header .header_main .header_dark .wrap_main .header_main_right .global_nav ul li{
    float: left;
}
#header .header_main .header_dark .wrap_main .header_main_right .global_nav ul li a{
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 66px;
    padding: 0 20px;
}
#header .header_main .header_dark .wrap_main .header_main_right .global_nav ul li:hover a{ 
    color: #f60; 
    background-color: rgba(255, 255, 255, 0.6);
}


/* #header .header_main .header_dark .wrap_main .header_main_right .reservation_button{ 
    float: left;
    width: 180px;
    height: 46px;
    margin: 10px 14px;
    background-color: #f60;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
#header .header_main .header_dark .wrap_main .header_main_right .reservation_button:hover{
    background-color: #fff;
    color: #f60;
    outline: 1px solid #f60;
} */


#header .header_main .header_dark .wrap_main .header_main_right .reserve_btn{ 
    float: left;
    width: 180px; height: 66px;
    text-align: right;
    padding-top: 12px;
}
#header .header_main .header_dark .wrap_main .header_main_right .reserve_btn a{ 
    display: inline-block;
    padding: 10px 14px;
    border: 1px solid #f60;
    background-color: #f60;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
#header .header_main .header_dark .wrap_main .header_main_right .reserve_btn a:hover{
    background-color: #fff;
    color: #f60;
    border: 1px solid #f60;
}


/* 부모(display:table) 기준으로 자식(display:table-cell) 중앙배치 방법 */
/* #header .header_main .header_dark .main_title{
    width: 1160px; height: 494px;
    margin: 0 auto;
    padding: 0 10px;
    display: table;
}
#header .header_main .header_dark .main_title .wrap_main_title{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
} */


#header .header_main .header_dark .main_title{
    position: relative;
    width: 1160px; height: 494px;
    margin: 0 auto;
    /* background-color: #ac6; */
    color: #fff;
}
#header .header_main .header_dark .main_title .wrap_main_title{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #acf; */
    text-align: center;
}
#header .header_main .header_dark .main_title .wrap_main_title h1{
    font-size: 54px;
    /* width: 100%; */
    line-height: 70px;
    /* background-color: #aaf; */
}
#header .header_main .header_dark .main_title .wrap_main_title p{
    width: 100%;
    font-size: 14px;
    /* background-color: #456; */
    padding: 16px 0 40px;
}
#header .header_main .header_dark .main_title .wrap_main_title ul{
    text-align: center;
    font-size: 0;
}
#header .header_main .header_dark .main_title .wrap_main_title ul li{
    display: inline-block;
    width: 202px; height: 44px;
    margin: 0 10px;
}
#header .header_main .header_dark .main_title .wrap_main_title ul li a{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 44px;
    text-transform: capitalize;
    border: 1px solid #f60;
    border-radius: 8px;
    /* background-color: transparent; */
}
#header .header_main .header_dark .main_title .wrap_main_title ul li:hover a{
    background-color: rgba(255, 255, 255, 0.4);
    color: #f60;
}

/*#story part*/
#story{
    width: 100%; height: 600px; 
    /* background: #ddd;  */
    overflow: hidden;
}
#story .wrap{
    width: 1160px; height: 100%; 
    padding: 0 10px; 
    margin: 0 auto; 
    /* background: #ffa; */
}
#story .wrap .title_part{
    padding-top: 60px; 
    padding-bottom: 40px; 
    text-align: center;
}
#story .wrap .title_part h2{
    font-size: 54px; 
    line-height: 72px; 
    color:#555;
}
#story .wrap .title_part h2 span{color:#f60;}
#story .wrap .title_part p{
    font-size: 16px; 
    color:#555; 
    padding-top: 20px;
}

#story .wrap .cont_part{font-size: 0;}
#story .wrap .cont_part > div{
    display: inline-block; 
    vertical-align: middle; 
    width: 50%; 
    padding: 0 15px; 
    font-size: 16px; 
}
#story .wrap .cont_part > div.img_part{
    height: 200px; 
    /*background: #aff;*/
}
#story .wrap .cont_part > div.img_part .image{
    width: 100%; height: 100%; 
    background-color: #aaf;
     background-image: url(../img/cook-01.jpg); 
     background-size: cover; 
     background-position: 50% 50%; 
     border-radius:8px;
}

#story .wrap .cont_part > div.txt_part{
    /*background: #faa;*/ 
    text-align: center;
}

#story .wrap .cont_part > div.txt_part p{color:#555; padding-bottom: 40px;}

#story .wrap .cont_part > div.txt_part a{display: inline-block; height: 19px;}
#story .wrap .cont_part > div.txt_part a img{}

#story .wrap .deco_img{padding-top: 100px;}
#story .wrap .deco_img img{width: 100%;}





/* [콘텐츠 내부에 암막과 문자를 단계별로 위치시키기] */
#midEdu1{}
#midEdu1 .outer{
    width: 600px; height: 300px;
    background-image: url(../img/menu_2.jpg);
    background-size: cover;
    background-position: center center;
    padding: 20px;
    border-radius: 10px;
}
#midEdu1 .outer .dark_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
    /* display: none;
    transition: display 1s; */
    opacity: 0;
    transition: opacity 1s;
}
/* #midEdu1 .outer .dark_bg:hover{ opacity: 1; } */
#midEdu1 .outer:hover .dark_bg{
    /* display: block; */
    opacity: 1;
}
#midEdu1 .outer .dark_bg h3{
    font-size: 28px;
}
#midEdu1 .outer .dark_bg p{
    padding-top: 10px;
}
#midEdu1 .outer .dark_bg span{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: #f60;
}







/* #special part */
#special{ 
    background-color: #ededed;
    font-size: 0;
}
#special #top_bg{
    width: 100%;
    height: 460px;
    /* background-color: #a1a; */
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#special #top_bg .top_bg_dark{
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


#special #main_cont{
    width: 100%; 
    /* height: 1150px; */
    /* background-color: #aad; */
    color: #fff;
    margin-top: -360px;
}
#special #main_cont .cont_wrap{
    width: 1160px; height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    /* background-color: #ac9; */
}

#special #main_cont .cont_wrap .cont_title{ text-align: center; }
#special #main_cont .cont_wrap .cont_title h2{
    font-size: 54px;
    line-height: 72px;
    /* background-color: #a54; */
    padding: 20px 0;
}
#special #main_cont .cont_wrap .cont_title p{
    font-size: 16px;
    padding-bottom: 40px;
}


#special #main_cont .cont_wrap .menu_cont .menu{
    width: calc(100% / 3 - 30px); height: 360px;
    margin: 0 15px 30px;
    /* background-color: #faf; */
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    padding: 20px;
}
#special #main_cont .cont_wrap .menu_cont .menu:nth-child(1){
    background-image: url(../img/menu_1.jpg); 
    width: calc(100% / 3 * 2 - 30px);
}
#special #main_cont .cont_wrap .menu_cont .menu:nth-child(2){background-image: url(../img/menu_2.jpg);}
#special #main_cont .cont_wrap .menu_cont .menu:nth-child(3){background-image: url(../img/menu_3.jpg);}
#special #main_cont .cont_wrap .menu_cont .menu:nth-child(4){background-image: url(../img/menu_4.jpg);}
#special #main_cont .cont_wrap .menu_cont .menu:nth-child(5){background-image: url(../img/menu_5.jpg);}

#special #main_cont .cont_wrap .menu_cont .menu .menu_dark{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
    width: 100%; height: 100%;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}
#special #main_cont .cont_wrap .menu_cont .menu:hover .menu_dark{
    opacity: 1;
    cursor: pointer;
}
#special #main_cont .cont_wrap .menu_cont .menu .menu_dark .menuName{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
#special #main_cont .cont_wrap .menu_cont .menu .menu_dark p{
    font-size: 18px;
}
#special #main_cont .cont_wrap .menu_cont .menu .menu_dark span{
    font-size: 28px;
    font-weight: bold;
    color: #f60;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#special #main_cont .cont_wrap .downArrow{
    display: block;
    text-align: center;
    padding-bottom: 60px;
    /* background-color: #ac4; */
}







#midEdu2{}

#midEdu2 .frame{
    width: 900px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #a39;
    font-size: 0;
}
#midEdu2 .frame .box{
    display: inline-block;
    width: calc(100% / 3 - 20px);
    height: 280px;
    background-color: #faa;
    margin: 0 10px;
}






/* #dishes part */
#dishes{ 
    /* height: 1700px; */
    font-size: 0;
    color: #555;
    /* background-color: #a0f; */
    background-size: cover;
    background-position: center center;
    background-image: url(../img/3.png);
    background-attachment: fixed;
}
#dishes .wrap{ 
    width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    /* 모바일에서 좌측과 우측으로 밀착되지 않도록 좌우 여백을 위해 구성 */
}


#dishes .wrap .dishes_title_part{ text-align: center; }
#dishes .wrap .dishes_title_part h2{
    padding: 80px 0 20px;
    font-size: 54px;
    line-height: 72px;
}
#dishes .wrap .dishes_title_part p{
    padding-bottom: 80px;
    font-size: 16px;
}


#dishes .wrap .dishes_cont{}
#dishes .wrap .dishes_cont .menu_list{}

#dishes .wrap .dishes_cont .menu_list .title_part{
    padding: 40px 0 20px;
}
#dishes .wrap .dishes_cont .menu_list .title_part h3{
    font-size: 24px;
    font-weight: bold;
    color: #999;
    /* background-color: #faf; */
    text-align: center;
}


#dishes .wrap .dishes_cont .menu_list .dish_part{
    width: 100%;
    /* padding: 60px 0; */
    position: relative;
    /* background-color: #ac1; */
    padding-bottom: 20px;
}
#dishes .wrap .dishes_cont .menu_list .dish_part .left{
    width: calc(50% - 30px);
    margin: 0 15px;
    display: inline-block;
    vertical-align: top;
    /* background-color: #ffa; */
}
#dishes .wrap .dishes_cont .menu_list .dish_part > div h4{
    font-size: 20px;
    font-weight: bold;
}
#dishes .wrap .dishes_cont .menu_list .dish_part > div p{
    font-size: 16px;
}
#dishes .wrap .dishes_cont .menu_list .dish_part > div span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #f60;
    text-align: right;
}
#dishes .wrap .dishes_cont .menu_list .dish_part .right{
    width: calc(50% - 30px);
    margin: 0 15px;
    display: inline-block;
    vertical-align: top;
    /* background-color: #aaf; */
}


#dishes .wrap .dishes_cont .menu_list .dish_part .centerLine{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #cfcfcf;
    transform: translateX(-50%);
}
#dishes .wrap .downArrow{
    padding: 40px 0 60px;
    display: block;
    text-align: center;
    /* background-color: #6b5; */
}




/* service part */
#service{
    width: 100%;
    background-color: #ededed;
    font-size: 0;
}
#service .wrap{
    width: 1160px;
    padding: 0 10px;
    color: #555;
    text-align: center;
    margin: 0 auto;
    /* background-color: #aaf; */
}
#service .wrap .title{}
#service .wrap .title h2{
    padding: 60px 0 20px;
    font-size: 54px;
    line-height: 72px;
}
#service .wrap .title p{
    font-size: 16px;
    padding-bottom: 80px;
    text-transform: uppercase;
}
#service .wrap .content{}
#service .wrap .content .box{
    display: inline-block;
    vertical-align: top;
    width: 360px; height: 360px;
    background-color: #fee;
    margin: 0 10px;
    border-radius: 8px;
    padding: 40px;
    transition: transform 0.5s, box-shadow 0.5s;
}
#service .wrap .content .box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #f99;
}
#service .wrap .content .box img{
    padding-top: 40px;
    /* background-color: #a4f; */
}
#service .wrap .content .box h3{
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    text-transform: uppercase;
}
#service .wrap .content .box p{
    font-size: 16px;
    /* font-weight: bold; */
}
#service .wrap a{
    display: block;
    padding: 40px 0 60px;
}
#service .wrap a img{}




/* subscribe part */
#offer{
    width: 100%; height: 460px;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/6.jpg);
    background-attachment: fixed;
    font-size: 0;
}

#offer .dark{
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: table; */
    position: relative;
}

#offer .dark .wrap{
    width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    /* display: table-cell;
    vertical-align: middle;
    text-align: center; */
    /* 포지션 앱솔루트는 공중부양 상태이다. */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#offer .dark .wrap .title{ text-align: center; color: #fff;}
#offer .dark .wrap .title h2{
    font-size: 54px;
    line-height: 72px;
    padding: 20px 0;
}
#offer .dark .wrap .title p{
    font-size: 16px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

#offer .dark .wrap .content{
    width: 740px; height: 60px;
    border-radius: 8px;
    border: 1px solid #f60;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 10px;
}
#offer .dark .wrap .content input{
    width: calc(100% - 58px); height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    font-size: 20px;
    border: none;
    padding: 0;
}

#offer .dark .wrap .content button{
    display: inline-block;
    vertical-align: middle;
    width: 58px; height: 58px;
    border: none;
    background-color: #fff;
    color: #f60;
    font-size: 20px;
    padding: 0;
}


/* [중간교육] 구글맵 연동하기 */
#midEdu3 #map_g{
    width: 500px; height: 400px;
    background-color: #54a;
}


/* register part */
#mapRegister{
    width: 100%;
    background-color: #ededed;
    font-size: 0;
}
#mapRegister .wrap{
    width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    /* background-color: #aec; */
    height: 400px;
}

#mapRegister .wrap #map{
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 40px); height: calc(100% - 40px);
    border-radius: 8px;
    margin: 20px;
    /* background-color: #ffa; */
    transition: box-shadow 1s;
}
#mapRegister .wrap #map:hover{
    box-shadow: 0px 0px 8px #555;
}

#mapRegister .wrap .register{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    width: calc(50% - 40px); height: calc(100% - 40px);
    /* background-color: #aaf; */
    position: relative;
}
#mapRegister .wrap .register .register_wrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: #ac8; */
}
#mapRegister .wrap .register .register_wrap .title{}
#mapRegister .wrap .register .register_wrap .title h2{
    font-size: 54px;
    line-height: 72px;
    color: #555;
    text-align: center;
}

#mapRegister .wrap .register .register_wrap .content{}
#mapRegister .wrap .register .register_wrap .content input.inoutBox{
    width: 100%; height: 35px;
    padding: 0 20px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #999;
    background-color: transparent;
}
#mapRegister .wrap .register .register_wrap .content .checkBox{}
#mapRegister .wrap .register .register_wrap .content .checkBox #check{
    display: inline-block;
}
#mapRegister .wrap .register .register_wrap .content .checkBox label{
    font-size: 18px;
}
#mapRegister .wrap .register .register_wrap .content .submit_btn{
    float: right;
    text-align: center;
    width: 240px; height: 41px;
    font-size: 18px;
    background-color: #f60;
    border-radius: 8px;
}
#mapRegister .wrap .register .register_wrap .content .submit_btn a{
    color: #fff;
    line-height: 41px;
}





/* footer part */
#footer{
    width: 100%;
    background-color: #000;
}
#footer .wrap{
    width: 1160px; 
    padding: 20px 10px;
    margin: 0 auto;
    text-align: center;
    /* background-color: #ffa; */
}

#footer .wrap .sns_box{ padding: 10px 0;}
#footer .wrap .sns_box ul{}
#footer .wrap .sns_box ul li{
    display: inline-block;
    width: 40px; height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 10px;
}
#footer .wrap .sns_box ul li a{
    color: #fff;
    font-size: 16px;
    line-height: 40px;
}
#footer .wrap .sns_box ul li:hover a{ color: #f60;}
#footer .wrap .sns_box ul li:hover{ border: 1px solid #f60;}

#footer .wrap .footer_logo{}
#footer .wrap .footer_logo a img{ padding: 10px 0;}

#footer .wrap .copyright{}
#footer .wrap .copyright p{ 
    font-size: 14px;
    color: #fff;
    padding: 14px 0;
}

/* #topBtn (상단으로 이동) */
#topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}
#topBtn a{
    display: block;
    width: 36px; height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #f60;
    color: #fff;
    border-radius: 4px;
}